Source: linux-cybook
Section: core
Priority: extra
Maintainer: Ondrej Herman <ondra.herman@gmail.com>
Build-Depends: debhelper (>= 5), dpatch, module-init-tools
XCS-Cross-Host-Build-Depends: debhelper (>= 5), dpatch, module-init-tools
Standards-Version: 3.7.3

Package: linux-image-2.6.27-eb600-armel
Architecture: all
Description: Linux kernel image for EB600
 EB600 linux kernel image for armel architecture.

Package: linux-modules-2.6.27-eb600
Architecture: armel
Description: Linux kernel modules for EB600
 EB600 linux kernel modules.

