Source: linux-2.6
Section: core
Priority: extra
Maintainer: Yauhen Kharuzhy <jekhor@gmail.com>
Build-Depends: debhelper (>= 5), dpatch, module-init-tools
Standards-Version: 3.7.3

Package: linux-image-2.6.24-v3-armel
Architecture: all
Description: Linux kernel image for Hanlin/lBook eReader V3
 Hanlin/lBook eReader V3 linux kernel image for armel architecture.

Package: linux-modules-2.6.24-v3
Architecture: armel
Description: Linux kernel modules for Hanlin/lBook eReader V3
 Hanlin/lBook eReader V3 linux kernel modules.
